<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.memory.mapper.WordMapper">
    <select id="getLearnWord" resultType="com.example.memory.pojo.Word">
        -- 1.获取背诵书籍的所有单词
        -- 2.获取用户已经背诵的该书单词
        -- 3.将1中的单词去掉2中出现的单词
        select word_id,word,meaning from all_word  where
            word_id in (
                select word_id
                from book_word_mappings
                where vocabulary_book_id = #{bookId}
            )
            and word_id not in (
                select word_id
                from user_word_state
                where username = #{username}
            );

    </select>

    <select id="getReviewWord" resultType="com.example.memory.pojo.Word">

        select
            aw.word_id,
            aw.word,
            aw.meaning,
            uws.state,
            uws.update_time
        from all_word aw
                 inner join user_word_state uws
                            on aw.word_id = uws.word_id  -- 通过word_id关联两表
        where uws.username = #{username}
        order by uws.update_time;  -- 按更新时间排序

    </select>
</mapper>