<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.memory.mapper.WordMapper">
    <select id="getNotAlreadyWord" resultType="com.example.memory.pojo.Word">
        SELECT all_word.word, all_word.mean ,all_word.id AS wordId FROM all_word
        WHERE all_word.id IN
              (SELECT a.word_id FROM
                      (SELECT word_id FROM book_word_mappings WHERE vocabulary_book_id = #{id}) a
                          LEFT JOIN
                      (SELECT word_id FROM user_word_state WHERE username = #{username}) b
                      ON a.word_id = b.word_id  -- 修正关联条件
               WHERE b.word_id IS NULL);  -- 筛选出表B中无匹配的记录
    </select>

    <select id="getBookWord" resultType="com.example.memory.pojo.Word">
        SELECT all_word.word,all_word.mean FROM all_word
                               JOIN
            (select word_id from book_word_mappings where vocabulary_book_id = #{id}) ti ON all_word.id = ti.word_id;
    </select>

    <select id="getReviewWord" resultType="com.example.memory.pojo.Word">
        SELECT all_word.word, all_word.mean ,all_word.id AS wordId FROM all_word WHERE id IN
        <foreach collection="wordsId" item="wordId" open="(" close=")" separator=",">
            #{wordId}
        </foreach>
    </select>

    <insert id="learn" parameterType="com.example.memory.pojo.Word">
        insert into user_word_state (username, word_id, state, update_time)
        values
        <foreach collection="wordList" item="wordId" separator="), (" open="(" close=")">
            #{username}, #{wordId}, #{state}, #{now}
        </foreach>
    </insert>

    <update id="reviewed">
        update user_word_state
        set update_time = #{now}, state = state + 1
        where username = #{username} and word_id in
        <foreach collection="wordList" item="wordId" open="(" close=")" separator=",">
            #{wordId}
        </foreach>
    </update>
</mapper>